*{
    font-family: 'Montserrat';
}
#title{
    background-color:#ff4c68;
    color:white;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h1{
    font-family: 'Montserrat Black', sans-serif;
    font-size:3rem;
    line-height:1.5;    
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    
}
.container-fluid{
    padding:3% 15%;
}